{% extends "authbase.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content1 %}
<div class="col-12 col-md-5 col-lg-6 col-xl-4 px-lg-6 my-5">
  <!-- Heading -->
  <h1 class="display-4 text-center mb-3">
    {% trans "Change Password" %}
  </h1>

  <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
      {% csrf_token %}
      {{ form.as_p }}
      <!-- Submit -->
      <button class="btn btn-lg btn-block btn-primary mb-3">
        {% trans "Change Password" %}
      </button>
  </form>
</div>
{% endblock %}
