{% extends "authbase.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content1 %}
<div class="col-12 col-md-5 col-lg-6 col-xl-4 px-lg-6 my-5">

          <!-- Heading -->
          <h1 class="display-4 text-center mb-3">
            Password reset
          </h1>

          <!-- Subheading -->
          <p class="text-muted text-center mb-5">
            Enter your email to get a password reset link.
          </p>

          <!-- Form -->
          <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
              {% csrf_token %}

            <!-- Email address -->
            <div class="form-group">
                  {{ form.as_p }}
            </div>

            <!-- Submit -->
            <button class="btn btn-lg btn-block btn-primary mb-3">
              {% trans 'Reset My Password' %}
            </button>

            <!-- Link -->
            <div class="text-center">
              <small class="text-muted text-center">
                Remember your password? <a href="{{ login_url }}">Log in</a>.
              </small>
            </div>

          </form>

        </div>
{% endblock %}
