{% load static %}
{% url 'send' as send_url %}
{% url 'home' as home_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% url 'account_change_password' as password_change_url %}
{% url 'account_reset_password' as password_reset_url %}
<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light" id="sidebar">
  <div class="container-fluid">

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    <a class="navbar-brand" href="{{ home_url }}">
      <img src="{% static 'img/perficientimage/p.png' %}" class="navbar-brand-img
      mx-auto" alt="...">
    </a>


    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidebarCollapse">

      <!-- Form -->
      <form class="mt-4 mb-3 d-md-none">
        <div class="input-group input-group-rounded input-group-merge">
          <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fe fe-search"></span>
            </div>
          </div>
        </div>
      </form>

      <!-- Navigation -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#sidebarDashboards" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebarDashboards">
            <i class="fe fe-home"></i> Dashboards
          </a>
          <div class="collapse show" id="sidebarDashboards">
            <ul class="nav nav-sm flex-column">
              <li class="nav-item">
                <a href="{{ home_url }}" class="nav-link active">
                  Resume Parser
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sidebarPages" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarPages">
            <i class="fe fe-file"></i> Projects
          </a>
          <div class="collapse " id="sidebarPages">
            <ul class="nav nav-sm flex-column">
              <li class="nav-item">
                <a href="#sidebarProfile" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarProfile">
                  Profile
                </a>
                <div class="collapse " id="sidebarProfile">
                  <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                      <a href="profile-posts.html" class="nav-link ">
                        Posts
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="profile-groups.html" class="nav-link ">
                        Groups
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="profile-projects.html" class="nav-link ">
                        Projects
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="profile-files.html" class="nav-link ">
                        Files
                      </a>
                    </li>
                      <li class="nav-item">
                      <a href="profile-subscribers.html" class="nav-link ">
                        Subscribers
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sidebarAuth" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarAuth">
            <i class="fe fe-user"></i> Authentication
          </a>
          <div class="collapse" id="sidebarAuth">
            <ul class="nav nav-sm flex-column">
              <li class="nav-item">
                <a href="#sidebarSignUp" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarSignUp">
                  Sign up
                </a>
                <div class="collapse" id="sidebarSignUp">
                  <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                      <a href="{{signup_url}}" class="nav-link">
                        Register
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a href="#sidebarPassword" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarPassword">
                  Password reset
                </a>
                <div class="collapse" id="sidebarPassword">
                  <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                      <a href="{{password_change_url}}" class="nav-link">
                        change password
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="{{password_reset_url}}" class="nav-link">
                        password reset
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a href="#sidebarSignIn" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarSignIn">
                  Sign Out
                </a>
                <div class="collapse" id="sidebarSignIn">
                  <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                      <a href="{{ logout_url }}" class="nav-link">
                        Log Out
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item d-md-none">
          <a class="nav-link" href="#sidebarModalActivity" data-toggle="modal">
           <span class="fe fe-bell"></span> Notifications
          </a>
        </li>
      </ul>
      <div class="mt-auto"></div>
      <!-- User (md) -->
      <div class="navbar-user d-none d-md-flex" id="sidebarUser">

        <!-- Icon -->
        <a href="#sidebarModalActivity" class="navbar-user-link" data-toggle="modal">
          <span class="icon">
            <i class="fe fe-bell"></i>
          </span>
        </a>

        <!-- Dropup -->
        <div class="dropup">

          <!-- Toggle -->
          <a href="#" id="sidebarIconCopy" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="avatar avatar-sm avatar-online">
              <img src="{% static 'img/avatars/profiles/avatar-1.jpg' %}" class="avatar-img rounded-circle" alt="...">
            </div>
          </a>

          <!-- Menu -->
          <div class="dropdown-menu" aria-labelledby="sidebarIconCopy">
            <!-- <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
              {% endif %}
              <button class="STYLE_ME" type="submit">Logout</button>
            </form> -->
            <a href="{{password_change_url}}" class="dropdown-item">Change Password</a>
            <a href="{{password_reset_url}}" class="dropdown-item">Password Reset</a>
            <hr class="dropdown-divider">
            <a href="{{ logout_url }}" class="dropdown-item">Logout</a>
          </div>

        </div>

        <!-- Icon -->
        <a href="#sidebarModalSearch" class="navbar-user-link" data-toggle="modal">
          <span class="icon">
            <i class="fe fe-search"></i>
          </span>
        </a>

      </div>


    </div> <!-- / .navbar-collapse -->

  </div>
</nav>
